name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  workflow_dispatch:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: "Build cc65"
      run: |
        git clone https://github.com/cc65/cc65.git
        cd cc65
        git checkout 6ac4aa4e2076189ad5b5f3a9d33e1c5910d4e37c
        make

    - name: "Assemble PETClock"
      run: cc65/bin/cl65 petclock.asm -t none